table {
    /* Use whatever background image (or images) you like */
    background: url("forest-background.jpg") no-repeat;
    table-layout: fixed;
}

/* Set each td size */
td {
    width: 300px;
    height: 100px;
}
/*added to make images appear easier to see and clicks are easier to register for the table*/
.targetImg
{
    width: 100%;
    height: 100%;
}

/*makes clickCounter look better*/
.clickCounter
{
    font-weight: bold;
}